{% extends "header.html"%}
{% block title %}Home Page{% endblock %}
{% block content %}

<table class="table">
    <thead class="table-dark">
        <tr>
            <td>Nome Corso</td>
            <td>Corso di Laurea</td>
        </tr>
    </thead>
    <tbody></tbody>
        {% for course in courses %}
        <tr>
            <td>
                <a href="/corsi/corso/{{ course.idcorso }}" > {{ course.nome }} </a>
            </td>
            <td>{{ course.nome_1 }}</td>
        </tr>
        
        {% endfor %}
  </table>


{% endblock %}